<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> HCT Kanban</title>
    <link rel="stylesheet" href="/css/site.css" />
    <!-- drop-in script to make drag and drop touch compatible-->
    <script src="/js/drag-drop-touch.esm.min.js?autoload" type="module"></script>
   
</head>
<body>
    <div class="head">
        <img src="~/images/refresh.svg" height="25" width="25" class="refresh" id="refresh" title="Refresh changes" />

        <img src="/images/hctlogo.png" height="25" width="25" /><h1> BirdBox Board</h1>
       
        <img src="~/images/logout.svg" height="25" width="25" class="logout" id="logout" title="Logout"/>
    </div>

    <div class="noportrait">
        Landscape mode is recommended!

    </div>

   
    @RenderBody()


   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
